config.json
*.db
__pycache__/
*.pyc
.env
workspace-*
workspace/
*.log
sessions/
memory_db/
plugins/
jobs.json
files/
*.tmp
*.pcm
*.tar.gz
*.silk
*.amr
containers/
pages/
mcp_servers/
fonts/
user_template/
routing.json
mirror/
